body {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
#first-year {
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
}
#dark-side {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
img{
height:280px;
width:270px;
}
